footer
    ul
        li
            a(href='#/home') Home
        li 
            a(href='#/articles') Articles
        li 
            a(href='#/videos') Videos
        li 
            a(href='#/about') About
        li 
            a(href='#/contact') Contact
    p Copyright (c) 2016 Copyright Holder All Rights Reserved.
