header(ng-controller='modal-controller')
    img(src='./../assets/images/logo.svg')
    h1 Brandon's Blog
    div 
        img(src='./../assets/Images/nav_icon.svg')
        div.hover-nav
            button(ng-click='showlogin()') LOGIN
            button(ng-click='showregister()') REGISTER
        button(ng-click='showlogin()') LOGIN
        button(ng-click='showregister()') REGISTER
