nav
    ul
        li
            a(href='#/home') Home
        li 
            a(href='#/articles') Articles
        li 
            a(href='#/videos') Videos
        li 
            a(href='#/about') About
        li 
            a(href='#/contact') Contact
