div.container
    include partials/header
    include partials/nav       
    div.about-content
        h3 Who is Brandon?
        p I am a computer enthusiast who recently discovered my love for creating websites and solving problems. I discovered that I love to code and create awesome user experiences with design. I also love to learn new things and challenge myself to become better. I am a polyphasic sleeper, who is usually up till 4am coding, designing, or strategizing my projects. 
        
        img(src='./../assets/Images/brandon.png')
        
        h3 My background 
        p After graduation, I had a love for photography, but did not think that I would have a future as a photographer. This was mostly because I thought that creative work was not going to make money, and would have too much competition for me to get ahead. I didn't have many opportunities to discover my passions before age 17, as I had no access to the internet, computers, science equiptment etc. My living situation had music forced on me as the area I should explore. Unfortunately, I just was not all that interested in music. After highschool I started experimenting more with computers and decided to pursue a career in network administration. I quickly exausted myself working full time, going to school full time and trying to enjoy my life the best I could. This led to giving up on school till I could afford to return. That never happened. 3 years passed and I only had enough money to go back for a couple quarters. So I decided to take a chance on something else, I signed up for a Coding Bootcamp and went all in. I loved it. I learned everything I could, going outside the course material to explore everything that this field had to offer. After graduation I kept learning, creating and applying for jobs. Months passed and the bills were getting to intense. I just wasn't able to find a job. The next chapter of my life is yet to be written, but I am still determined. I will keep building, learning and applying till I break into the field that I love. 
        
        h3 My mission
        p I am focused on learning new technologies. I have decided I want my primary coding language to be Javascript and that I want to learn every aspect of the development process. This includes generating ideas, content management, wireframing, creating user personas, really diving into feature possibilities, building a database etc. Someday I want to lead projects and ensure only the best quality projects are deployed from under my supervision. The dream job title is User Experience Designer. This doesn't mean I will not be hands on, I still love coding, and creating, and looking at the details. I just love all of the aspects of the project and will not be happy focused on just one area of it. Problem solving is my primary goal, and with it I intend to create value; that is the mission.
        
        h3 My values
        p I have 3 core values that I like to inject into what I do. Transparency, Collaboration and Humor. In an ideal world everyone would hold these values and everything would be a team effort to solve world problems. The goal is not to get rich, the goal is to not worry about money. I believe that if people were honest, and they shared their ideas and aspirations, then people could collaborate to reach incredible goals together. 
    
    div.brandons-quote
        h2 &ldquo; There is nothing I can't handle. Solving problems is what I do. &rdquo; #[cite ~Brandon Scott]
        
    hr
    include partials/footer
    include partials/login
    include partials/register
